/* Default Style of All Text */
body {font-family: Arial;}

/* Heading for Popups*/
h4{
  color: black;
  margin: 5px;
}

/* Layout Design for Table Name */
h3{
  display: inline-flex;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

/* Table Name Spacing */
h3 p{
  margin: 0;
}

/* Table and Table Section Line Borders */
table, th, td {
    border: 1px solid black;
}

/* Data Data Table Cell Spacing */
th, td {
  padding: 10px;
  position: relative;
}

/* The Heading Logo Design */
img.avatar {
  width: 150px;
  border-radius: 50%;
}

/* Layout and Design of table Filter Icons */
img.filter{
  position: absolute;
  width: 10px;
  height: 10px;
  float: right;
  bottom: 1px;
  right: 1px;
}

/* Set Header to Flex */
.header{
  display: flex
}

/* Position of the Logout Button on Page */
.logoutButton{
  float: right;
  width: 100px;
  margin-left: auto;
  margin-right: 0;
}

/* Style the Logout Button */
.logoutButton button{
  text-align: center;
  width: 75px;
  border: 0px, 0px;
  border-radius: 25%;
  width: 100%
}

/* Style the tab button*/
button {
  background-color: rgb(98,0,238);
  Text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 0px;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 20px;
  border-radius: 6px; 
}

/* Style the Logout Button */
.logoutButton button{
  text-align: center;
  width: 90px;
  border: 0px, 0px;
  border-radius: 25%;
  width: 100%;
  font-weight: bold;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; 
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgb(98,0,238);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  height: 15%;
}

  /*Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

  /*Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/*Style the tab content */
.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Layout for Tables Tool Bar */
.tableTools{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  width: 80px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0%;
  margin-left: 30px;
  border-radius: 10%;
}

.dropdown{
  min-width: 120px;
  align-items: center;
  margin: 2px;
}

.select{
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.03s;
}

/* take out the current dropdown stuff then add new in */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(98,0,238);}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears middle screen) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  max-width: 80%;
  max-height: 70%;
  background-color: #555555f8;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 20px 20px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Insert Box Values on Popup*/
.popupInsertBox{
  object-fit: fill;
  display:grid;
  margin-bottom: 30px;
  width: 100%;
  max-width: 400px;
}

/*Button on Cancel Popup*/
.popupCancelButton{
  margin-top: 10px;
  width: 120px;
  margin-left: 0px;
}

/*Button on Add or Modify Popup*/
.popupUpdateButton{
  margin-top: 10px;
  width: 120px;
  float: right;
  margin-right: 0px;
}

#popupOfficerWarning{
  text-align: center;
  color: red;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}